CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-8MiBplus-ota.csv"

CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_MODE_OCT=n

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=n
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"

CONFIG_ESPTOOLPY_FLASHFREQ_80M=y

# Board Configuration
#
# | Board                | Flash | Flash Mode | PSRAM | PSRAM Mode |
# |----------------------|------:|------------|------:|------------|
# | ESP32-S3 Generic     | 16 MB | QIO        | 8 MB  | Octal / OPI |
# | Shrike-Fi            |  8 MB | DIO        | 8 MB  | Quad / QSPI |
